div(class='x-institutional__bottom')
  h2(class='x-title')
    |Preencha o #[strong formulário]
  form(class='x-institutional__form js--institutional-form')
    div(class='x-institutional__form-row')
      div(class='x-institutional__form-label x-institutional__form-half')
        label(class='x-institutional__form-label x-institutional__form-half', for='subject')
        |Assunto
        select(class='x-institutional__form-input js--input-subject', name='subject' id='x-input-subject')
          option(class='js--input-subject-option', value='', selected="true", disabled="disabled") Selecione
            option(class='js--input-subject-option', value='Alteração de Dados Cadastrais - Loja Virtual') Alteração de Dados Cadastrais - Loja Virtual
            option(class='js--input-subject-option', value='Cancelamento de Pedido - Loja Virtual') Cancelamento de Pedido - Loja Virtual
            option(class='js--input-subject-option', value='Críticas ou Sugestões') Críticas ou Sugestões
            option(class='js--input-subject-option', value='Dúvidas sobre pedido, pagamento ou prazo de entrega - Loja Virtual') Dúvidas sobre pedido, pagamento ou prazo de entrega - Loja Virtual
            option(class='js--input-subject-option', value='Produtos com Defeito / Assistência Técnica') Produtos com Defeito / Assistência Técnica

    div(class='x-institutional__form-row js--first-form')
      div(class='x-institutional__form-label x-institutional__form-half js--first-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='name')
          |Nome
        input(class='x-institutional__form-input js--input-name',
          name='name',
          id='x-input-name',
          placeholder="Nome",
          required="true",
          type='text')/
      div(class='x-institutional__form-label x-institutional__form-half js--first-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='surname')
        |Sobrenome
        input(class='x-institutional__form-input js--input-surname',
          name='surname',
          id='x-input-surname',
          placeholder="Sobrenome",
          required="true",
          type='text')/

    div(class='x-institutional__form-row')
      div(class='x-institutional__form-label x-institutional__form-half js--second-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='completeName')
        |Nome Completo
        input(class='x-institutional__form-input js--input-complete-name',
          name='completeName',
          id='x-input-complete-name',
          placeholder="Nome",
          required="true",
          type='text')/
      div(class='x-institutional__form-label x-institutional__form-half js--second-form')
        label(class='x-institutional__form-label x-institutional__form-half ', for='cpf')
        |CPF
        input(class='x-institutional__form-input js--input-cpf',
          name='cpf',
          id='x-input-cpf',
          placeholder="CPF",
          required="true",
          type='text')/
      

    div(class='x-institutional__form-row')
      div(class='x-institutional__form-label x-institutional__form-half')
        label(class='x-institutional__form-label x-institutional__form-half', for='email')
        |E-mail
        input(class='x-institutional__form-input js--input-email',
          name='email',
          id='x-input-email',
          placeholder="E-mail",
          required="true",
          type='email')/
      div(class='x-institutional__form-label x-institutional__form-half js--first-form')
        label(class='x-institutional__form-label x-institutional__form-half ', for='telephone')
        |Telefone
        input(class='x-institutional__form-input js--input-telephone',
          name='telephone',
          id='x-input-telephone',
          placeholder="Opcional",
          type='text')/
      div(class='x-institutional__form-label x-institutional__form-half js--second-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='order')
        |Número do Pedido
        input(class='x-institutional__form-input js--input-order',
          name='order',
          id='x-input-order',
          placeholder="Nº do Pedido",
          required="true",
          type='text')/

    div(class='x-institutional__form-row js--first-form')
      div(class='x-institutional__form-label x-institutional__form-half js--first-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='cellphone')
        |Celular
        input(class='x-institutional__form-input js--input-cellphone',
          name='cellphone',
          id='x-input-cellphone',
          placeholder="9.0000.0000",
          required="true",
          type='text')/
      div(class='x-institutional__form-label x-institutional__form-half js--first-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='zipcode')
        |CEP
        input(class='x-institutional__form-input js--input-zipcode',
          name='zipcode',
          id='x-input-zipcode',
          placeholder="CEP",
          required="true",
          type='text')/

    div(class='x-institutional__form-row js--first-form')
      div(class='x-institutional__form-label x-institutional__form-half js--first-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='address')
        |Endereço Completo
        input(class='x-institutional__form-input js--input-address',
          name='address',
          id='x-input-address',
          placeholder="Endereço Completo",
          required="true",
          type='text')/
      div(class='x-institutional__form-label x-institutional__form-half js--first-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='number')
        |Número
        input(class='x-institutional__form-input js--input-number',
          name='number',
          id='x-input-number',
          placeholder="Nº",
          required="true",
          type='text')/

    div(class='x-institutional__form-row js--first-form')
      div(class='x-institutional__form-label x-institutional__form-half js--first-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='complement')
        |Complemento
        input(class='x-institutional__form-input js--input-complemento',
          name='complement',
          id='x-input-complemento',
          placeholder="Complemento",
          type='text')/
      div(class='x-institutional__form-label x-institutional__form-half js--first-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='neighbourhood')
        |Bairro
        input(class='x-institutional__form-input js--input-bairro',
          name='neighbourhood',
          id='x-input-bairro',
          placeholder="Bairro",
          required="true",
          type='text')/

    div(class='x-institutional__form-row js--first-form')
      div(class='x-institutional__form-label x-institutional__form-half js--first-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='city')
        |Cidade
        input(class='x-institutional__form-input js--input-cidade',
          name='city',
          id='x-input-cidade',
          placeholder="Cidade",
          required="true",
          type='text')/
      div(class='x-institutional__form-label x-institutional__form-half js--first-form')
        label(class='x-institutional__form-label x-institutional__form-half', for='state')
        |UF
        select(class='x-institutional__form-input js--input-estado', name='state', id='x-input-estado', required="true")
          option(class='js--input-estado-option', value='', selected="true", disabled="disabled") Selecione
            option(class='js--input-estado-option',value='AC') Acre
            option(class='js--input-estado-option',value='AL') Alagoas
            option(class='js--input-estado-option',value='AP') Amapá
            option(class='js--input-estado-option',value='AM') Amazonas
            option(class='js--input-estado-option',value='BA') Bahia
            option(class='js--input-estado-option',value='CE') Ceará
            option(class='js--input-estado-option',value='DF') Distrito Federal
            option(class='js--input-estado-option',value='ES') Espírito Santo
            option(class='js--input-estado-option',value='GO') Goiás
            option(class='js--input-estado-option',value='MA') Maranhão
            option(class='js--input-estado-option',value='MT') Mato Grosso
            option(class='js--input-estado-option',value='MS') Mato Grosso do Sul
            option(class='js--input-estado-option',value='MG') Minas Gerais
            option(class='js--input-estado-option',value='PA') Pará
            option(class='js--input-estado-option',value='PB') Paraíba
            option(class='js--input-estado-option',value='PR') Paraná
            option(class='js--input-estado-option',value='PE') Pernambuco
            option(class='js--input-estado-option',value='PI') Piauí
            option(class='js--input-estado-option',value='RJ') Rio de Janeiro
            option(class='js--input-estado-option',value='RN') Rio Grande do Norte
            option(class='js--input-estado-option',value='RS') Rio Grande do Sul
            option(class='js--input-estado-option',value='RO') Rondônia
            option(class='js--input-estado-option',value='RR') Roraima
            option(class='js--input-estado-option',value='SC') Santa Catarina
            option(class='js--input-estado-option',value='SP') São Paulo
            option(class='js--input-estado-option',value='SE') Sergipe
            option(class='js--input-estado-option',value='TO') Tocantins
            option(class='js--input-estado-option',value='EX') Estrangeiro


    div(class='x-institutional__form-row')
      div(class='x-institutional__form-label x-institutional__form-half')
        label(class='x-institutional__form-label x-institutional__form-half', for='message')
        |Mensagem
        textarea(class='x-institutional__form-input js--input-mensagem',
          name="message", 
          id='x-input-mensagem'
          cols="30", 
          rows="10" 
          required='true',
          placeholder='Escreva aqui a sua mensagem...')

    div(class='x-institutional__form-row')
      button(class='x-institutional__form-button',
        type='submit',
        title="Enviar") Enviar

  div(class='x-institutional__error')
    p(class='x-institutional__error-message js--submit-error')
      | Houve um erro ao enviar a sua mensagem, por favor tente novamente.
  
  div(class='x-institutional__success')
    p(class='x-institutional__success-message js--contact-success')
      | Sua mensagem foi enviada com sucesso!