div(class='x-institutional__bottom')
  h2(class='x-title')
    |Preencha o #[strong formulário]
  form(class='x-institutional__form js--institutional-form')
    div(class='x-institutional__form-row')
      div(class='x-institutional__form-label x-institutional__form-half ')
        label(class='x-institutional__form-label x-institutional__form-half', for='name')
          |Nome
        input(class='x-institutional__form-input js--input-name',
          name='name',
          id='x-input-name',
          placeholder="Nome",
          required="true",
          type='text')/
      div(class='x-institutional__form-label x-institutional__form-half ')
        label(class='x-institutional__form-label x-institutional__form-half', for='uf')
          |UF
        select(class='x-institutional__form-input js--input-uf', name='uf', id='x-input-uf', required="true")
          option(class='js--input-estado-option', value='', selected="true", disabled="disabled") Selecione
            option(class='js--input-estado-option',value='AC') Acre
            option(class='js--input-estado-option',value='AL') Alagoas
            option(class='js--input-estado-option',value='AP') Amapá
            option(class='js--input-estado-option',value='AM') Amazonas
            option(class='js--input-estado-option',value='BA') Bahia
            option(class='js--input-estado-option',value='CE') Ceará
            option(class='js--input-estado-option',value='DF') Distrito Federal
            option(class='js--input-estado-option',value='ES') Espírito Santo
            option(class='js--input-estado-option',value='GO') Goiás
            option(class='js--input-estado-option',value='MA') Maranhão
            option(class='js--input-estado-option',value='MT') Mato Grosso
            option(class='js--input-estado-option',value='MS') Mato Grosso do Sul
            option(class='js--input-estado-option',value='MG') Minas Gerais
            option(class='js--input-estado-option',value='PA') Pará
            option(class='js--input-estado-option',value='PB') Paraíba
            option(class='js--input-estado-option',value='PR') Paraná
            option(class='js--input-estado-option',value='PE') Pernambuco
            option(class='js--input-estado-option',value='PI') Piauí
            option(class='js--input-estado-option',value='RJ') Rio de Janeiro
            option(class='js--input-estado-option',value='RN') Rio Grande do Norte
            option(class='js--input-estado-option',value='RS') Rio Grande do Sul
            option(class='js--input-estado-option',value='RO') Rondônia
            option(class='js--input-estado-option',value='RR') Roraima
            option(class='js--input-estado-option',value='SC') Santa Catarina
            option(class='js--input-estado-option',value='SP') São Paulo
            option(class='js--input-estado-option',value='SE') Sergipe
            option(class='js--input-estado-option',value='TO') Tocantins
            option(class='js--input-estado-option',value='EX') Estrangeiro

    div(class='x-institutional__form-row')
      div(class='x-institutional__form-label x-institutional__form-half ')
        label(class='x-institutional__form-label x-institutional__form-half', for='email')
        |E-mail
        input(class='x-institutional__form-input js--input-email',
          name='email',
          id='x-input-email',
          placeholder="E-mail",
          required="true",
          type='email')/
      div(class='x-institutional__form-label x-institutional__form-half ')
        label(class='x-institutional__form-label x-institutional__form-half', for='city')
          |Cidade
        input(class='x-institutional__form-input js--input-cidade',
          name='city',
          id='x-input-cidade',
          placeholder="Cidade",
          type='text')/

    div(class='x-institutional__form-row')
      div(class='x-institutional__form-label x-institutional__form-half ')
        label(class='x-institutional__form-label x-institutional__form-half', for='birthdate')
          |Data de nascimento
        input(class='x-institutional__form-input js--input-date',
          name='birthdate',
          id='x-input-date',
          placeholder="00/00/0000",
          type='text')/
      div(class='x-institutional__form-label x-institutional__form-half ')
        label(class='x-institutional__form-label x-institutional__form-half', for='gender')
          |Gênero
        select(class='x-institutional__form-input js--input-genero', name='gender' id='x-input-genero')
          option(class='js--input-genero-option', value='', selected="true", disabled="disabled") Selecione
            option(class='js--input-genero-option', value='Masculino') Masculino
            option(class='js--input-genero-option', value='Feminino') Feminino
            option(class='js--input-genero-option', value='Outro') Outro

        //- input(class='x-institutional__form-input js--input-genero',
        //-   name='gender',
        //-   id='x-input-genero',
        //-   placeholder="Opcional",
        //-   required="false",
        //-   type='text')/

    div(class='x-institutional__form-row')
      div(class='x-institutional__form-label x-institutional__form-half ')
        label(class='x-institutional__form-label x-institutional__form-half', for='cellphone')
          |Celular
        input(class='x-institutional__form-input js--input-cellphone',
          name='cellphone',
          id='x-input-cellphone',
          placeholder="9.0000.0000",
          required="true",
          type='text')/
      div(class='x-institutional__form-label x-institutional__form-half ')
        label(class='x-institutional__form-label x-institutional__form-half', for='telephone')
          |Telefone
        input(class='x-institutional__form-input js--input-telephone',
          name='telephone',
          id='x-input-telephone',
          placeholder="Opcional",
          type='text')/

    div(class='x-institutional__form-row')
      div(class='x-institutional__form-label x-institutional__form-half ')
        label(class='x-institutional__form-label', for='location')
          |Local de interesse
        input(class='x-institutional__form-input js--input-interesse',
          name='location',
          id='x-input-interesse',
          required="true",
          type='text')/

    div(class='x-institutional__form-row')
      div(class='x-institutional__form-label x-institutional__form-half ')
        label(class='x-institutional__form-label', for='message')
          |Conte-nos sobre a sua ideia
        textarea(class='x-institutional__form-textarea js--input-ideia',
          name='message',
          id='x-input-ideia',
          required="true")

    div(class='x-institutional__form-row')
      button(class='x-institutional__form-button',
        type='submit',
        title="Enviar") Enviar

  div(class='x-institutional__error')
    p(class='x-institutional__error-message js--submit-error')
      | Houve um erro ao enviar a sua mensagem, por favor tente novamente.
  
  div(class='x-institutional__success')
    p(class='x-institutional__success-message js--contact-success')
      | Sua mensagem foi enviada com sucesso!
