div(class='x-submenu js--menu-mobile')
  div(class='x-submenu__header')
    button(class='x-submenu__close js--menu-close', title="Fechar")
      <vtex.cmc:svgIconClosePopup />
    div(class='x-submenu__login js--menu-login', title='Olá! Faça login ou cadastre-se')
      |Olá! Faça #[span login] ou #[span cadastre-se]
    nav(class='x-submenu__account')
      ul(class='x-submenu__account-items')
        li(class='x-submenu__account-item')
          a(class='x-submenu__account-item-link js--login-btn', title="minha conta", href='/account')
            <vtex.cmc:svgIconLogin />
            span minha conta
        li(class='x-submenu__account-item')
          a(class='x-submenu__account-item-link', title="wishlist", href='/account/wishlist')
            <vtex.cmc:svgIconWishlist />
            span wishlist
        li(class='x-submenu__account-item')
          a(class='x-submenu__account-item-link', title="meus pedidos", href='/account/orders')
            <vtex.cmc:svgIconOrders />
            span meus pedidos

  div(class='x-submenu__content')
    nav(class='x-submenu__nav')
      ul(class='x-submenu__items')
        li(class="x-submenu__item") 
          a(class="x-submenu__item-link has--subitems js--submenu-container" title="Viagem" href="/viagem/malas")  Malas
          ul(class="x-submenu__department js--submenu-department") 
            li(class="x-submenu__department-title") 
              a(class="x-submenu__department-title-link" href="/viagem/malas" title="Viagem")  
              | Malas
              button(class="x-submenu__back js--submenu-back" title="Voltar") 
                <vtex.cmc:svgIconBackMenu />
            li(class="x-submenu__department-item js--submenu-accordion-content is--opened") 
              a(class="x-submenu__department-item-link js--submenu-accordion is--opened" title="Categorias" href="#")  Marca
              ul(class="x-submenu__category-items") 
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Sestini?PS=12&amp;map=c,c,b" title="Frasqueira")  Sestini
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Stout?PS=12&amp;map=c,c,b" title="Frasqueira")  Stout

            li(class="x-submenu__department-item js--submenu-accordion-content") 
              a(class="x-submenu__department-itemli(k js--submenu-accordion" title="Categorias" href="#") Tipo
              ul(class="x-submenu__category-items") 
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="https://www.sestini.com.br/viagem/malas#1" title="Malas")  Tecido/Soft
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Rígida?PS=12&amp;map=c,c,specificationFilter_66" title="Necessaire") Rígida
                
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/sacola" title="Sacola") Sacola
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/frasqueira" title="Pasta") Frasqueiras
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/acessorios" title="Pasta") Acessórios de Viagem
              
            li(class="x-submenu__department-item js--submenu-accordion-content") 
              a(class="x-submenu__department-item-link js--submenu-accordion" title="Categorias" href="#") Tamanho
              ul(class="x-submenu__category-items") 
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Bordo?PS=12&amp;map=c,c,specificationFilter_54" title="Pasta") Bordo
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Pequeno?PS=12&amp;map=c,c,specificationFilter_54" title="Pasta") P
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Médio?PS=12&amp;map=c,c,specificationFilter_54" title="Pasta") M
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Grande?PS=12&amp;map=c,c,specificationFilter_54" title="Pasta") G
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Kit?PS=12&amp;map=c,c,specificationFilter_54" title="Pasta") Kits

            li(class="x-submenu__department-item js--submenu-accordion-content") 
              a(class="x-submenu__department-item-link js--submenu-accordion" title="Categorias" href="#") Especiais
              ul(class="x-submenu__category-items") 
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Super%20Leve?PS=12&amp;map=c,c,specificationFilter_59" title="Pasta") Ultra Leves
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Rodas%20Retráteis?PS=12&amp;map=c,c,specificationFilter_59" title="Pasta") Rodas Retráteis
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Entrada%20USB?PS=12&amp;map=c,c,specificationFilter_59" title="Pasta") USB                
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/viagem/malas/Acopláveis?PS=12&amp;map=c,c,specificationFilter_59" title="Pasta") Acopláveis     
        li(class="x-submenu__item") 
          a(class="x-submenu__item-link has--subitems js--submenu-container"
            title="Executivo" href="/mochila") Mochilas
          ul(class="x-submenu__department js--submenu-department") 
            li(class="x-submenu__department-title") 
              a(class="x-submenu__department-title-link" href="/mochila" title="Executivo") Mochilas
              button(class="x-submenu__back js--submenu-back" title="Voltar") 
                <vtex.cmc:svgIconBackMenu />
        
            li(class="x-submenu__department-item js--submenu-accordion-content is--opened") 
              a(class="x-submenu__department-item-link js--submenu-accordion is--opened" title="Categorias" href="#") Eu Amo!
              ul(class="x-submenu__category-items") 
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/busca/?fq=H:150&amp;fq:B2000000" title="Bolsa") Sestini
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/busca/?fq=H:150&amp;ft=tokidoki" title="Carrinho") Tokidoki
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/juvenil/mochila/Magic?PS=15&amp;map=c,c,ft" title="Carteira") Sestini Magic
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/juvenil/mochila/Paul-Frank?PS=15&amp;map=c,c,ft" title="Mochila") Paul Frank
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/infantil/mochila/Sestini-Kids?PS=15&amp;map=c,c,ft" title="Necessaire") Sestini Kids\

            li(class="x-submenu__department-item js--submenu-accordion-content") 
              a(class="x-submenu__department-item-link js--submenu-accordion" title="Categorias" href="#") Eu Preciso!
              ul(class="x-submenu__category-items") 
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/mochilete?PS=30" title="Bolsa") Com Rodinhas
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/mochila?PS=30" title="Carrinho") Sem Rodinhas
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/executivo/mochila/Porta%Notebook?PS=15&amp;map=c,c,specificationFilter_59" title="Carteira") Para Notebook
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/pasta" title="Mochila") Pastas
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/maternidade" title="Necessaire") Maternidade

            li(class="x-submenu__department-item js--submenu-accordion-content") 
              a(class="x-submenu__department-item-link js--submenu-accordion" title="Categorias"
                href="#") Para Onde!
              ul(class="x-submenu__category-items") 
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/busca/?fq=H:150&amp;fq=C25" title="Bolsa") Dia a Dia
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/busca/?fq=H:150&amp;fq=C15" title="Carrinho") Escolar
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/busca/?fq=H:150&amp;fq=C25" title="Carteira") Universidade
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/busca/?fq=H:150&amp;fq=C:8" title="Mochila") Trabalho                  
        li(class="x-submenu__item") 
          a(class="x-submenu__item-link has--subitems js--submenu-container"
            title="Executivo" href="/bolsa") Bolsas
          ul(class="x-submenu__department js--submenu-department") 
            li(class="x-submenu__department-title") 
              a(class="x-submenu__department-title-link" href="/bolsa" title="Executivo") Bolsas
              button(class="x-submenu__back js--submenu-back" title="Voltar") 
                <vtex.cmc:svgIconBackMenu />
        
            li(class="x-submenu__department-item js--submenu-accordion-content is--always-opened") 
              //- a(class="x-submenu__department-item-link js--submenu-accordion is--opened" title="Categorias"
              //-   href="#") Categorias
              ul(class="x-submenu__category-items") 
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/juvenil/bolsa" title="Bolsa") Dia a Dia 
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/executivo/bolsa" title="Carrinho") Executiva
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/necessaire" title="Carteira") Necessaires
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/maternidade" title="Mochila") Maternidade                  
        li(class='x-submenu__item')
          a(class='x-submenu__item-link has--subitems js--submenu-container', title='Acessórios', href='/acessorios') Acessórios
          ul(class='x-submenu__department js--submenu-department')
            li(class='x-submenu__department-title')
              a(class='x-submenu__department-title-link', href='/acessorios', title='Acessórios')
                |Acessórios
              button(class='x-submenu__back js--submenu-back', title='Voltar')
                <vtex.cmc:svgIconBackMenu />
            li(class='x-submenu__department-item js--submenu-accordion-content is--opened')
              //- a(class='x-submenu__department-item-link js--submenu-accordion is--opened', title='Categorias', href='#')
              //-   |Categorias
              ul(class='x-submenu__category-items')
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/acessorios/adaptador-universal', title='adaptador universal')
                //-     |adaptador universal
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/acessorios/balancas', title='balanças')
                //-     |balanças
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/necessaire', title='Necessaires')
                    |Necessaires
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/viagem/frasqueira', title='Frasqueiras')
                    |Frasqueiras
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/acessorios/guarda-chuva', title='Guarda-chuva')
                    |Guarda-chuva
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/executivo/carteira', title='Carteiras')
                    |Carteiras
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/acessorios/etiqueta', title='Etiquetas de Bagagem')
                    |Etiquetas de Bagagem
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/documento', title='Porta Documentos')
                    |Porta Documentos
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/acessorios/cadeados', title='Cadeados')
                    |Cadeados
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/passaporte', title='Porta Passaportes')
                    |Porta Passaporte
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/acessorios/capa', title='Capa')
                    |Capa de Mala
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/acessorios/cinta', title='Cinta')
                    |Cinta
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/acessorios/kit-viagem', title='Kit Viagem')
                    |Kit Organizador
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/acessorios/mochila-dobravel', title='Mochila Dobrável')
                //-     |Mochila Dobrável
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/acessorios/travesseiro', title='Travesseiro')
                    |Travesseiro

        li(class='x-submenu__item')
          a(class='x-submenu__item-link has--subitems js--submenu-container', title='Infantil', href='/infantil') Infantil
          ul(class='x-submenu__department js--submenu-department')
            li(class='x-submenu__department-title')
              a(class='x-submenu__department-title-link', href='/infantil', title='Infantil')
                |Infantil
              button(class='x-submenu__back js--submenu-back', title='Voltar')
                <vtex.cmc:svgIconBackMenu />
            li(class='x-submenu__department-item js--submenu-accordion-content is--opened')
              a(class='x-submenu__department-item-link js--submenu-accordion is--opened', title='Categorias', href='#')
                |Categorias
              ul(class='x-submenu__category-items')
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/authentic-games" title="Bolsa") Authentic Games
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/sestini-kids" title="Estojo") Sestini Kids
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/fischer-price" title="Lancheira") Fisher Price
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/judy" title="Malinha Escolar") Judy
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/super-hero-girls" title="Maternidade") Super Hero Girls
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/bubu" title="Mochila") Bubu e Biel
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/tokidoki" title="Mochilete") Tokidoki
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/paul-frank" title="Pasta") Paul Frank
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/sestini-play" title="Pasta") Sestini Play
            li(class='x-submenu__department-item js--submenu-accordion-content is--opened')
              a(class='x-submenu__department-item-link js--submenu-accordion is--opened', title='Categorias', href='#')
                |Tipo
              ul(class='x-submenu__category-items')
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/infantil/mochila', title='Mochila')
                    |Mochilas
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/infantil/mochilete', title='Mochilete')
                    |Mochilas de Rodinhas
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/infantil/bolsa', title='Bolsa')
                //-     |Bolsa
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/infantil/estojo', title='Estojo')
                    |Estojo
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/infantil/lancheira', title='Lancheira')
                //-     |Lancheira
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/infantil/malinha-escolar', title='Malinha Escolar')
                    |Malinhas
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/infantil/maternidade', title='Maternidade')
                //-     |Maternidade
                
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/infantil/pasta', title='Pasta')
                //-     |Pasta
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/infantil/sacola', title='sacola')
                    |Sacolas

        li(class='x-submenu__item')
          a(class='x-submenu__item-link has--subitems js--submenu-container', title='Juvenil', href='/juvenil') Juvenil
          ul(class='x-submenu__department js--submenu-department')
            li(class='x-submenu__department-title')
              a(class='x-submenu__department-title-link', href='/juvenil', title='Juvenil')
                |Juvenil
              button(class='x-submenu__back js--submenu-back', title='Voltar')
                <vtex.cmc:svgIconBackMenu />
            li(class='x-submenu__department-item js--submenu-accordion-content is--opened')
              //- a(class='x-submenu__department-item-link js--submenu-accordion is--opened', title='Categorias', href='#')
              //-   |Categorias
              ul(class='x-submenu__category-items')
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/Sestini-Magic",
                    title="Bolsa") Sestini Magic
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/Sestini-College",
                    title="Estojo") Sestini College
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/Sestini-Rolling",
                    title="Lancheira") Sestini Rolling
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/Sestini-Evolution",
                    title="Mochila")  Sestini Evolution
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/Paul-Frank",
                    title="Mochilete")  Paul Frank
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/Tokidoki",
                    title="Sacola") Tokidoki
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/Bubu",
                    title="Sacola") Bubu
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/Happy",
                    title="Sacola") Happy
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/juvenil/mochila",
                    title="Sacola") Mochilas
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/juvenil/mochilete",
                    title="Sacola") Mochilas com Rodinhas
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/juvenil/lancheira",
                    title="Sacola") Lancheiras
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link" href="/juvenil/estojo",
                    title="Sacola") Estojos
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/juvenil/bolsa', title='Bolsa')
                //-     |Bolsa
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/juvenil/esportivo', title='esportivo')
                //-     |esportivo
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/juvenil/estojo', title='Estojo')
                //-     |Estojo
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/juvenil/lancheira', title='Lancheira')
                //-     |Lancheira
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/juvenil/mochila', title='Mochila')
                //-     |Mochila
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/juvenil/mochilete', title='Mochilete')
                //-     |Mochilete
                //- li(class='x-submenu__category-item')
                //-   a(class='x-submenu__category-item-link', href='/juvenil/sacola', title='Sacola')
                //-     |Sacola

        li(class='x-submenu__item')
          a(class='x-submenu__item-link has--subitems js--submenu-container', title='Executivo', href='/executivo') Executivo
          ul(class='x-submenu__department js--submenu-department')
            li(class='x-submenu__department-title')
              a(class='x-submenu__department-title-link', href='/executivo', title='Executivo')
                |Executivo
              button(class='x-submenu__back js--submenu-back', title='Voltar')
                <vtex.cmc:svgIconBackMenu />
            li(class='x-submenu__department-item js--submenu-accordion-content is--always-opened')
              //- a(class='x-submenu__department-item-link js--submenu-accordion is--opened', title='Categorias', href='#')
              //-   |Categorias
              ul(class='x-submenu__category-items')
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/executivo/bolsa', title='Bolsa')
                    |Bolsas
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/executivo/carrinho', title='Carrinho')
                    |Carrinhos Executivos
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/executivo/carteira', title='Carteira')
                    |Carteira
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/executivo/mochila', title='Mochila')
                    |Mochila
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/executivo/necessaire', title='Necessaire')
                    |Necessaire
                li(class='x-submenu__category-item')
                  a(class='x-submenu__category-item-link', href='/executivo/pasta', title='Pasta')
                    |Pasta
                li(class="x-submenu__category-item") 
                  a(class="x-submenu__category-item-link"
                    href="/viagem/malas/Bordo?PS=12&amp;map=c,c,specificationFilter_54" title="Pasta") 
                    |Mochilas Notebook

        //- li(class='x-submenu__item')
        //-   a(class='x-submenu__item-link has--subitems js--submenu-container', title='Viagem', href='/viagem') Viagem
        //-   ul(class='x-submenu__department js--submenu-department')
        //-     li(class='x-submenu__department-title')
        //-       a(class='x-submenu__department-title-link', href='/viagem', title='Viagem')
        //-         |Viagem
        //-       button(class='x-submenu__back js--submenu-back', title='Voltar')
        //-         <vtex.cmc:svgIconBackMenu />
        //-     li(class='x-submenu__department-item js--submenu-accordion-content is--opened')
        //-       a(class='x-submenu__department-item-link js--submenu-accordion is--opened', title='Categorias', href='#')
        //-         |Categorias
        //-       ul(class='x-submenu__category-items')
        //-         li(class='x-submenu__category-item')
        //-           a(class='x-submenu__category-item-link', href='/viagem/frasqueira', title='Frasqueira')
        //-             |Frasqueira
        //-         li(class='x-submenu__category-item')
        //-           a(class='x-submenu__category-item-link', href='/viagem/malas', title='Malas')
        //-             |Malas
        //-         li(class='x-submenu__category-item')
        //-           a(class='x-submenu__category-item-link', href='/viagem/necessaire', title='Necessaire')
        //-             |Necessaire
        //-         li(class='x-submenu__category-item')
        //-           a(class='x-submenu__category-item-link', href='/viagem/pasta', title='Pasta')
        //-             |Pasta
        //-         //- li(class='x-submenu__category-item')
        //-         //-   a(class='x-submenu__category-item-link', href='/viagem/porta-terno', title='porta terno')
        //-         //-     |porta terno
        //-         li(class='x-submenu__category-item')
        //-           a(class='x-submenu__category-item-link', href='/viagem/sacola', title='Sacola')
        //-             |Sacola

        li(class='x-submenu__item')
          a(class='x-submenu__item-link has--subitems', title='Ofertas', href='#')
            strong Ofertas

        li(class='x-submenu__item')
          a(class='x-submenu__item-link has--subitems js--submenu-container', title='Institucionais', href='/institucionais') Institucionais
          ul(class='x-submenu__department js--submenu-department')
            li(class='x-submenu__department-title')
              a(class='x-submenu__department-title-link', href='/institucionais', title='Institucionais')
                |Institucionais
              button(class='x-submenu__back js--submenu-back', title='Voltar')
                <vtex.cmc:svgIconBackMenu />
            li(class='x-submenu__department-item js--submenu-accordion-content is--always-opened')
              ul(class='x-submenu__category-items')
                li(class='x-submenu__category-item')

                  li(class='x-submenu__category-item')
                    a(class='x-submenu__category-item-link', title='quem somos', href='/institucional/quem-somos')
                      |Quem somos
                  li(class='x-submenu__category-item')
                    a(class='x-submenu__category-item-link', title='blog da sestini', href='http://www.mundosestini.com.br/')
                      |Blog da sestini
                  //- li(class='x-submenu__category-item')
                  //-   a(class='x-submenu__category-item-link', title='catálogo de produtos', href='/institucional/catalago-de-produto')
                  //-     |Catálogo de produtos
                  li(class='x-submenu__category-item')
                    a(class='x-submenu__category-item-link', title='imprensas', href='/institucional/imprensa')
                      |Imprensas
                  li(class='x-submenu__category-item')
                    a(class='x-submenu__category-item-link', title='lojas', href='/institucional/nossas-lojas')
                      |Lojas
                  li(class='x-submenu__category-item')
                    a(class='x-submenu__category-item-link', title='seja um franqueado', href='/institucional/seja-franqueado')
                      |Seja um franqueado
                  li(class='x-submenu__category-item')
                    a(class='x-submenu__category-item-link', title='representantes', href='/institucional/representantes')
                      |Representantes
                  li(class='x-submenu__category-item')
                    a(class='x-submenu__category-item-link', title='trabalhe conosco', href='/institucional/trabalhe-conosco')
                      |Trabalhe conosco
                  li(class='x-submenu__category-item')
                    a(class='x-submenu__category-item-link', title='trabalhe conosco', href='/institucional/fale-conosco')
                      |Fale conosco
                  li(class='x-submenu__category-item')
                    a(class='x-submenu__category-item-link', title='vendas corporativas', href='/institucional/vendas-corporativas')
                      |Vendas corporativas

  div(class='x-submenu__footer js--menu-footer')
    a(class='x-submenu__footer-logout', title='sair', href='/no-cache/user/logout') sair
