div(class='x-institutional__bottom')
  h2(class='x-title')
    |Preencha o #[strong formulário]
  form(class='x-institutional__form js--institutional-form')
    div(class='x-institutional__form-row')
      label(class='x-institutional__form-label x-institutional__form-half' for='x-input-name')
        |Nome
        input(class='x-institutional__form-input js--input-name',
          name='x-input-name',
          id='x-input-name',
          placeholder="Nome",
          required="true",
          type='text')/

    div(class='x-institutional__form-row')
      label(class='x-institutional__form-label x-institutional__form-half', for='x-input-email')
        |E-mail
        input(class='x-institutional__form-input js--input-email',
          name='x-input-email',
          id='x-input-email',
          placeholder="E-mail",
          required="true",
          type='email')/

    div(class='x-institutional__form-row')
      label(class='x-institutional__form-label x-institutional__form-half', for='x-input-uf')
        |UF
        input(class='x-institutional__form-input js--input-uf',
          name='x-input-uf',
          id='x-input-uf',
          placeholder="Estado",
          required="true",
          type='text')/

      label(class='x-institutional__form-label x-institutional__form-half', for='x-input-cidade')
        |Cidade
        input(class='x-institutional__form-input js--input-cidade',
          name='x-input-cidade',
          id='x-input-cidade',
          placeholder="Cidade",
          required="true",
          type='text')/

    div(class='x-institutional__form-row')
      label(class='x-institutional__form-label x-institutional__form-half', for='x-input-date')
        |Data de nascimento
        input(class='x-institutional__form-input js--input-date',
          name='x-input-date',
          id='x-input-date',
          placeholder="00/00/0000",
          required="true",
          type='text')/
      label(class='x-institutional__form-label x-institutional__form-half', for='x-input-genero')
        |Gênero
        input(class='x-institutional__form-input js--input-genero',
          name='x-input-genero',
          id='x-input-genero',
          placeholder="Opcional",
          required="false",
          type='text')/

    div(class='x-institutional__form-row')
      label(class='x-institutional__form-label x-institutional__form-half', for='x-input-telephone')
        |Telefone
        input(class='x-institutional__form-input js--input-telephone',
          name='x-input-telephone',
          id='x-input-telephone',
          placeholder="Opcional",
          required="false",
          type='text')/
      label(class='x-institutional__form-label x-institutional__form-half', for='x-input-cellphone')
        |Celular
        input(class='x-institutional__form-input js--input-cellphone',
          name='x-input-cellphone',
          id='x-input-cellphone',
          placeholder="9.0000.0000",
          required="true",
          type='text')/

    div(class='x-institutional__form-row')
      label(class='x-institutional__form-label x-institutional__form-half', for='x-input-cellphone')
        |Área de interesse
        input(class='x-institutional__form-input js--input-cellphone',
          name='x-input-cellphone',
          id='x-input-cellphone',
          required="true",
          type='text')/
      label(class='x-institutional__form-label x-institutional__form-half', for='x-input-cv')
        br/
        input(class='x-institutional__form-input-file js--input-cv',
          name='x-input-cv',
          id='x-input-cv',
          required="false",
          type='file')/
        label(class='x-institutional__form-label-file js--label-cv',
          for="x-input-cv") Anexar cv

    div(class='x-institutional__form-row')
      button(class='x-institutional__form-button',
        type='submit',
        title="Enviar") Enviar
